.testimoniales {
  background-color: #f8f8f8;
  padding: 50px 0;
  line-height: 1.15;
font-family: "Raleway",sans-serif;
font-size: 1.6rem;
box-sizing: inherit;
width: 95%;
max-width: 120rem;
margin: 0 auto;
background-color: #fff;
margin-top: -9rem;
padding: 10rem;
}

.testimoniales h2 {
  font-size: 2rem;
  margin-bottom: 20px;
}

.testimonial {
  background-color: white;
  padding: 20px;
  margin-bottom: 20px;
  line-height: 1.15;
  box-sizing: inherit;
  background-color: #ebe7de;
  max-width: 60rem;
  margin: 0 auto;
  padding: 3.5rem 3rem;
  border-radius: 1.5rem;
}

.texto-testimonial {
  margin-bottom: 10px;
}

.autor-testimonial {
  font-style: italic;
  line-height: 1.15;
  text-align: right;
  color: #5e311e;
  font-size: 2.5rem;
  font-family: "Bona Nova",serif;
  font-weight: 700;
  margin-bottom: 0;
}


